Tokenizer - works
Gaussian Noise - works
gaussian noise - performance- works
Gaussian Noise edge cases - works